 

<div id="content"></div>
<button class="btn" id="loadBtn">Загрузить</button>
<button class="btn" id="displayBtn">Показать</button>
@section scripts{
    <script src='@Url.Content("~/Scripts/app.js")'></script>
}
